<html>
  <head>
    <meta charset="utf-8">
    <title>PanelX 1.0</title>
    <script src="/scripts/vue/dist/vue.global.js"></script>
    <script src="/scripts/chartist/dist/chartist.min.js"></script>
    <link rel="stylesheet" href="/scripts/chartist/dist/chartist.min.css">
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <header>
      <span>PanelX</span><small>v1.0</small>
    </header>
    <div id="app">
      <Dashboard v-bind:widgets="widgets"></Dashboard>
    </div>
    <script type="module" src="/components/app.js"></script>
    <script>const port = ***PORT***;</script>
  </body>
</html>